.main-container {
  font-family: Arial, sans-serif; /* 웹페이지 전체의 폰트 설정 */
}


/* 헤더 전체 영역 스타일링 */
.header {
  display: flex;                  /* Flexbox를 사용하여 내부 아이템들을 효과적으로 정렬 */
  flex-direction: column;         /* 헤더의 주 축을 세로로 설정 */
  justify-content: flex-start;    /* 내부 아이템들을 상단부터 시작하여 정렬 */
  align-items: center;            /* 내부 아이템들을 가로 축으로 중앙에 정렬 */
  padding: 20px;                  /* 헤더의 내부 여백 설정 */
  background-color: white;      /* 헤더의 배경색 지정 */
  color: white;                   /* 헤더의 기본 텍스트 색상 지정 */
}

/* 상단 섹션 (로고, 검색바, 사용자 정보) 스타일링 */
.top-section {
  width: 100%;                    /* 상단 섹션의 너비를 부모 요소의 전체 너비로 설정 */
  display: flex;                  /* Flexbox를 사용하여 내부 아이템들을 효과적으로 정렬 */
  justify-content: space-between; /* 내부 아이템들 사이에 균일한 간격을 둠 */
  align-items: center;            /* 내부 아이템들을 가로 축으로 중앙에 정렬 */
  gap: 10px;                      /* 내부 아이템들 사이의 간격 설정 */
}

/* 사용자 정보 및 로그아웃 버튼 스타일링 */
.user-info {
  display: flex;                  /* Flexbox를 사용하여 "유저님" 텍스트와 "Logout" 버튼을 옆으로 정렬 */
  align-items: center;            /* 내부 아이템들을 가로 축으로 중앙에 정렬 */
  gap: 10px;                      /* "유저님" 텍스트와 "Logout" 버튼 사이의 간격 설정 */
}

/* 사용자 정보와 로그아웃 버튼의 공통 스타일링 */
.user-info a {
  color: white;                   /* 텍스트 색상 설정 */
  text-decoration: none;          /* 밑줄 제거 */
  padding: 5px 15px;              /* 내부 여백 설정 */
  border-radius: 5px;             /* 모서리 둥글게 설정 */
  transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 효과 설정 */
  flex-direction: row;            /* "유저님" 텍스트와 "Logout" 버튼을 옆으로 정렬 */

}

/* "유저님" 텍스트 스타일링 */
.user-info a[href="/MyPageMyInfo"] {
  background-color: #23f331;      /* 배경색 변경 */
}

/* "유저님" 텍스트에 마우스 호버 시의 스타일링 */
.user-info a[href="/MyPageMyInfo"]:hover {
  background-color: #0270ff;      /* 배경색 변경 */
}

/* "Logout" 버튼의 기본 및 호버 스타일링 */
.user-info a[href="/"] {
  background-color: #ff00119a;
}
.user-info a[href="/"]:hover {
  background-color: #ff0011;
}

/* 로고 영역 스타일링 */
.logo {
  flex-grow: 1;                   /* 남은 공간을 로고 영역이 차지하게 설정 */
  display: flex;                  /* 로고 이미지를 중앙에 정렬하기 위해 flex 사용 */
  align-items: center;            /* 로고 이미지를 세로 방향 중앙에 정렬 */
}

/* 로고 이미지 스타일링 */
.logo img {
  max-width: 100%;                /* 이미지의 최대 너비 설정 */
  max-height: 100px;              /* 이미지의 최대 높이 설정 */
  height: 100%;                   /* 이미지 높이를 원본 비율에 맞게 조정 */
}

/* 카테고리 메뉴 전체 영역 스타일링 */
.categories {
  width: 100%;                    /* 메뉴의 전체 너비 설정 */
  display: flex;                  /* 메뉴 아이템들을 한 줄로 정렬 */
  justify-content: space-around;  /* 메뉴 아이템들 사이에 균일한 간격을 둠 */
  margin-top: 10px;               /* 상단 여백 설정 */
  color: black;
}

/* 각 카테고리 메뉴 아이템 스타일링 */
.category-item {
  position: relative;             /* 드롭다운 메뉴의 위치를 기준으로 설정하기 위해 상대 위치 사용 */
  color: black;
}
/* 각 카테고리 메뉴 아이템 스타일링 */
.category-item a{
  position: relative;             /* 드롭다운 메뉴의 위치를 기준으로 설정하기 위해 상대 위치 사용 */
  color: black;
}

/* 드롭다운 메뉴 스타일링 */
.category-dropdown {
  display: none;                  /* 기본적으로 드롭다운 메뉴는 숨김 */
  position: absolute;             /* 절대 위치를 사용하여 카테고리 아이템 아래에 위치 */
  top: 100%;                      /* 카테고리 아이템의 바로 아래에 위치 */
  left: 50%;                      /* 카테고리 아이템의 중앙에 위치 */
  transform: translateX(-50%);    /* X 축으로 -50%만큼 이동하여 정확히 중앙에 위치 */
  background-color: white;        /* 배경색 설정 */
  border: 1px solid #ccc;         /* 테두리 설정 */
  border-radius: 5px;             /* 모서리 둥글게 설정 */
  padding: 10px;                  /* 내부 여백 설정 */
  z-index: 1000000;                    /* 다른 요소 위에 표시되도록 z-index 설정 */
  white-space: nowrap;            /* 텍스트 줄바꿈 방지 */
}

/* 드롭다운 메뉴의 링크 스타일링 */
.category-dropdown a {
  color: black;                   /* 텍스트 색상 설정 */
  text-decoration: none;          /* 밑줄 제거*/
}

/* 드롭다운 메뉴의 링크에 마우스를 올렸을 때의 스타일링 */
.category-dropdown a:hover {
  text-decoration: underline;     /* 밑줄 추가하여 호버 효과 제공 */
}

/* 카테고리 아이템에 마우스를 올렸을 때의 드롭다운 메뉴 스타일링 */
.category-item:hover .category-dropdown {
  display: block;                 /* 마우스를 올리면 드롭다운 메뉴 표시 */
}


/* 검색바 스타일링 */
.search-container {
  position: relative;
  max-width: 800px;
  width: 100%;
}

.search-bar {
  position: relative;
  max-width: 800px;               /* 검색바의 최대 너비 설정 */
  width: 100%;                    /* 검색바의 너비를 부모 요소의 전체 너비로 설정 */
  height: 50px;                   /* 검색바 높이 설정 */
  border-radius: 25px;            /* 모서리 둥글게 설정 */
  border: 1px solid #00a550;      /* 테두리 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
  font-size: 25px;                /* 텍스트 크기 설정 */
  color: #777;                    /* 텍스트 색상 설정 */
  outline: none;                  /* 포커스 시 외곽선 제거 */
  padding-right: 50px; /* 아이콘의 공간을 확보하기 위해 패딩 추가 */

  box-sizing: border-box;         /* padding과 border가 너비에 포함되도록 설정 */
}

/* 검색바 placeholder 스타일링 */
.search-bar::placeholder {
  color: #aaa;                    /* 텍스트 색상 설정 */
}
.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;/* 오른쪽 패딩 값 */
  top: 50%;
  transform: translateY(-50%);
}

.search-icon {
  width: 40px;  /* 원하는 크기로 조절하세요 */
  height: 40px; /* 원하는 크기로 조절하세요 */
}

/* 반응형 디자인: 화면 너비가 768px 이하일 때의 스타일링 */
@media (max-width: 768px) {
  .top-section {
    flex-direction: column;       /* 상단 섹션의 주 축을 세로로 변경 */
    gap: 10px;                    /* 내부 아이템들 사이의 간격 설정 */
  }

  .user-info {
    width: 100%;                  /* 사용자 정보 영역의 너비를 부모 요소의 전체 너비로 설정 */
    justify-content: space-between; /* 내부 아이템들 사이에 균일한 간격을 둠 */
  }
  .logo img {
    max-width: 70%;               /* 로고 이미지의 최대 너비를 조절 */
  }

  .search-bar {
    padding: 10px 10px;           /* 검색바 내부 여백 조절 */
  }
}






/* 슬라이드 쇼 전체 컨테이너 설정 */
.slideShow {
  position: relative;             /* 절대 위치의 기준점 설정 */
  width: 100%;                   /* 전체 너비 설정 */
  /* max-width: 800px;              최대 너비 설정 (필요에 따라 조정) */
  margin: auto;                  /* 중앙 정렬 */
  overflow: hidden;              /* 슬라이드 영역 밖의 이미지는 보이지 않게 설정 */
  background-color: #cf2626;    /* 원하는 배경색 설정 (예: 회색) */

}
/* 슬라이드 순서 표시 스타일 */
.slideCounter {
  position: absolute;          /* 절대 위치 설정 */
  top: 10px;                /* 슬라이드 하단에서 10px 위에 위치 */
  left: 5%;                   /* 슬라이드 중앙에 위치 */
  transform: translateX(-50%); /* 정확한 중앙 정렬을 위해 */
  background-color: rgba(0, 0, 0, 0.6); /* 반투명한 배경색 */
  color: white;                /* 글자색은 흰색 */
  padding: 5px 10px;           /* 내부 패딩 */
  border-radius: 20px;         /* 모서리 둥글게 */
  font-size: 16px;             /* 글자 크기 */
  z-index: 3;                  /* 다른 요소 위에 표시 */
}

/* 각각의 슬라이드 이미지 설정 */
.slides {
  position: relative;            /* 절대 위치의 기준점 설정 */
  width: 300%;                   /* 3개의 슬라이드 이미지의 전체 너비 */
  /* height: 400px;                 슬라이드의 높이 */
  overflow: hidden;              /* 슬라이드 영역 밖의 이미지는 보이지 않게 설정 */
  transition: transform 0.5s ease-in-out; /* 애니메이션 효과 */
  z-index: 1;                    /* z-index를 낮게 설정하여 버튼 아래에 위치 */
}

/* 슬라이드 이미지 스타일 설정 */
.slides img {
  width: 33.3333%;               /* 각 이미지는 전체 너비의 1/3 */
  height: auto;                  /* 높이는 원본 비율에 맞게 조정 */
  float: left;                   /* 이미지를 가로로 배열 */
}

/* 공통 버튼 스타일 */
.button {
  position: absolute;            /* 절대 위치 설정 */
  top: 50%;                      /* 상단에서 50% 위치 (세로 중앙) */
  transform: translateY(-50%);   /* 버튼을 정확히 중앙에 위치시키기 위해 */
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
  color: white;                  /* 글자색은 흰색 */
  border: none;                  /* 테두리 제거 */
  padding: 10px;                 /* 내부 패딩 */
  cursor: pointer;               /* 마우스 커서를 손가락 모양으로 변경 */
  z-index: 2;                    /* z-index를 높게 설정하여 이미지 위에 위치 */
}

/* 이전 버튼 스타일 */
#prev {
  left: 10px;                    /* 좌측에서 10px 떨어진 위치에 배치 */
}

/* 다음 버튼 스타일 */
#next {
  right: 10px;                   /* 우측에서 10px 떨어진 위치에 배치 */
}




.content {
  display: flex;                  /* 컨텐츠 영역 내부의 아이템들을 한 행에 배치 */
  padding: 20px;                  /* 컨텐츠 영역의 내부 패딩 설정 */
}


/* 랭킹 요약 및 자주 틀린 문제 스타일링 */
.ranking-summary, .wrong-questions {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%; /* 두 요약 및 리스트의 크기가 같도록 설정 */
}

/* 애니메이션 효과 추가 */
@keyframes slideDown {
  0%, 20%, 100%   { transform: translateY(0); opacity: 1; }
  10% { transform: translateY(-20px); opacity: 0; }
}

.ranking-summary tbody tr, .wrong-questions tbody tr {
  animation: slideDown 5s infinite; /* 각 행의 애니메이션 총 지속 시간 */
}

.ranking-summary tbody tr:nth-child(1), .wrong-questions tbody tr:nth-child(1) {
  animation-delay: 0s;
}

.ranking-summary tbody tr:nth-child(2), .wrong-questions tbody tr:nth-child(2) {
  animation-delay: 1s;
}

.ranking-summary tbody tr:nth-child(3), .wrong-questions tbody tr:nth-child(3) {
  animation-delay: 2s;
}

.ranking-summary tbody tr:nth-child(4), .wrong-questions tbody tr:nth-child(4) {
  animation-delay: 3s;
}

.ranking-summary tbody tr:nth-child(5), .wrong-questions tbody tr:nth-child(5) {
  animation-delay: 4s;
}


.ranking-summary h2, .wrong-questions h2 {
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.ranking-summary table, .wrong-questions table {
  width: 100%;
  border-collapse: collapse;
}

.ranking-summary th, .wrong-questions th,
.ranking-summary td, .wrong-questions td {
  padding: 10px;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.more-link {
  text-decoration: none;
  background-color: #007BFF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}





/* 푸터 영역 */
.footer {
  display: flex;                  /* 푸터 내부의 아이템들을 한 행에 배치 */
  justify-content: space-between; /* 푸터 내부의 아이템들 사이에 동일한 간격을 유지 */
  align-items: flex-start;        /* 푸터 내부의 아이템들을 상단에 정렬 */
  background-color: #2432b1;      /* 푸터의 배경색 설정 */
  padding: 20px 50px;             /* 푸터의 내부 패딩 설정 */
  color: white;                   /* 푸터의 글자색 설정 */
}

.footer-section {
  flex-basis: 25%;                /* 각 푸터 섹션의 기본 너비를 부모 요소의 25%로 설정 */
}

.footer-section h4 {
  margin-bottom: 10px;            /* 푸터 섹션의 제목 하단 여백 설정 */
  font-weight: bold;              /* 푸터 섹션의 제목 글자 두께 설정 */
}

.footer-section ul {
  list-style-type: none;          /* 푸터 섹션 내의 목록 아이템 앞에 기호 제거 */
  padding: 0;                     /* 푸터 섹션 내의 목록의 내부 패딩 제거 */
}

.footer-section ul li {
  margin-bottom: 5px;             /* 푸터 섹션 내의 목록 아이템 하단 여백 설정 */
}

.footer-section ul li a {
  text-decoration: none;          /* 푸터 섹션 내의 링크 밑줄 제거 */
  color: white;                   /* 푸터 섹션 내의 링크 글자색 설정 */
  transition: color 0.3s ease;    /* 푸터 섹션 내의 링크 글자색 변경 애니메이션 설정 */
}

.footer-section ul li a:hover {
  color: #aaa;                    /* 푸터 섹션 내의 링크에 마우스를 올렸을 때의 글자색 설정 */
}


/* 기타 영역 */
h2 {
  border-bottom: 2px solid #ddd;  /* h2 요소의 하단 테두리 설정 */
  padding-bottom: 10px;           /* h2 요소의 하단 패딩 설정 */
}

ul {
  list-style: none;               /* 목록 아이템 앞에 기호 제거 */
  padding: 0;                     /* 목록의 내부 패딩 제거 */
}

nav a {
  margin: 0 10px;                 /* 네비게이션 링크의 양쪽 여백 설정 */
  text-decoration: none;          /* 네비게이션 링크의 밑줄 제거 */
  color: white;                   /* 네비게이션 링크의 글자색 설정 */
  cursor: pointer;                /* 네비게이션 링크에 마우스를 올렸을 때 포인터 모양이 바뀜 */
}

/* 아이콘 메뉴 전체 스타일링 */
.icon-menu-container {
  padding: 20px;
}

.icon-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

/* 각 아이콘 스타일링 */
.icon {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%; /* 원형으로 만들기 위한 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon img {
  max-width: 100%;
  max-height: 100%;
}

.icon:hover {
  transform: scale(1.3);
  opacity: 1;
}

/* 문제들의 컨테이너 스타일링 */
.questions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
}

/* 문제 카드 스타일링 */
.question {
  flex-basis: calc(16.66% - 10px);
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
   /* 카드의 높이를 동일하게 설정 */
   min-height: 80px;  /* 예시 값으로, 실제 웹사이트에 맞게 조절할 필요가 있습니다. */
   max-height: 100px;  /* 예시 값으로, 실제 웹사이트에 맞게 조절할 필요가 있습니다. */
   min-width: 200px;  /* 예시 값으로, 실제 웹사이트에 맞게 조절할 필요가 있습니다. */
   max-width: 300px;  /* 예시 값으로, 실제 웹사이트에 맞게 조절할 필요가 있습니다. */


}

.question:hover {
  transform: scale(1.1);
}

/* 문제의 제목 스타일링 */
.question-title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* 문제의 설명 스타일링 */
.question-description {
  font-size: 0.9em;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 응시자 수와 오답률 스타일링 */
.question-stats {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}

/* "X" 아이콘 스타일링 */
.close-icon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #ff0000;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.close-icon:hover {
  transform: scale(1.2);
}


/* 챗봇 모달 영역 */
.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.float-button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 25px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.float-button:hover {
  transform: scale(1.05);
}

.chat-window {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: #000;
}

.message.user {
  background-color: #e6f7ff;
  align-self: flex-end;
}

.message.bot {
  background-color: #fff2e6;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.input-container button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  margin: 20px auto;
  border: 5px solid #eee;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* QuestionListItem.css */

.question-list-item {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.question-list-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.1rem;
  display: block;
}

.question-list-item a:hover {
  color: #007BFF;
}


/* QuestionList.css */

.question-list-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  overflow: auto;
}

.question-list-table {
  width: 100%;
  border-collapse: collapse;
}

.question-list-table th, .question-list-table td {
  padding: 15px;
  border: 1px solid #e5e5e5;
  text-align: left;
}

.question-list-table th {
  background-color: #f5f5f5;
}

.question-list-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.question-list-item a:hover {
  color: #007BFF;
}



/* Pagination.css */
.pagination-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  list-style-type: none;
  display: flex;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #e5e5e5;
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  background-color: #e5e5e5;
}



/* 문제 디테일 스타일 */

.QuestionDetailComponent-content{
  padding: 20px;                  /* 컨텐츠 영역의 내부 패딩 설정 */

}
.question-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 20px;                  /* 컨텐츠 영역의 내부 패딩 설정 */

}

.question-detail-container h1 {
  position: sticky;
  font-size: 2.5rem;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
  padding: 0;
  margin-bottom: 5px;
  text-align: center;  /* 제목을 중앙 정렬합니다. */

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.score-board {
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: sticky;
  top: 40px;
  background-color: #ffffff;
  z-index: 10;
  padding: 10px 30px;
  text-align: right;
  color: #333;  /* 기본 색상 */
  overflow: hidden; /* 바운스 효과로 내용이 밖으로 나갈 때 숨김 */
}

.score-board::before {
  content: attr(data-text);
  display: block;
  transition: transform 0.6s;
}

.score-board.increase::before {
  animation: bounce 0.6s;
  color: green;
}

.score-board.decrease::before {
  animation: shake 0.6s;
  color: red;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}



.questions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.question-item {
  position: relative;  
  flex: 1;
  border-radius: 10px;  /* 모서리를 둥글게 만듭니다. */
  min-width: calc(50% - 20px);
  padding: 25px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 1rem;
}

.question-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

button {
  margin-right: 5px;
  padding: 5px 15px;
  margin: 0 7px;  /* 좌우 간격 추가 */
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  white-space: nowrap;

}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}


button:last-child {
  margin-right: 0;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.score-change {
  animation: fadeInOut 2s ease-out;
  display: inline-block;
  margin-left: 10px;
  color: green;
  font-weight: bold;
}

.summary-section {
  margin-top: 50px;
  padding: 30px;
  background-color: #f9f9f9;  /* 배경색을 조금 더 밝게 변경 */
  border-radius: 10px;  /* 모서리를 둥글게 만듭니다. */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);  /* 그림자 효과를 추가 */
  border-top: 3px solid #007BFF;  /* 두꺼운 상단 경계선 */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;  /* 마우스 오버 효과를 위한 전환 */
}

.summary-section:hover {
  transform: translateY(-5px);  /* 마우스를 올렸을 때 조금 위로 이동 */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);  /* 그림자 효과 강조 */
}

.summary-section h2 {
  font-size: 2rem;  /* 크기를 크게 변경 */
  font-weight: 600;  /* 더 굵게 */
  margin-bottom: 30px;  /* 마진 조정 */
  border-bottom: 2px solid #e5e5e5;  /* 하단 경계선 추가 */
  padding-bottom: 10px;  /* 경계선과의 간격 조정 */
  color: #333;  /* 색상 변경 */
}

.summary-section p {
  font-size: 1.2rem;  /* 폰트 크기 조정 */
  margin-bottom: 15px;  /* 간격 조정 */
  color: #555;  /* 폰트 색상 변경 */
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.feedback-message {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: opacity 0.5s ease-in-out; /* 추가: 투명도 전환 효과 */
}
.feedback-message.visible {
  opacity: 1;
}

@keyframes fadeAndHide {
  0%, 80% { opacity: 1; }
  100% { opacity: 0; }
}

.feedback-message.hide-after-2s {
  animation: fadeAndHide 2.5s forwards; /* 2초 동안 보이다가 사라지게 함 */
}



/* @@@@@@2QuestionAnswer.css로 갈부분@@@@@@ */
/* 브레드크럼 스타일 */
.breadcrumb {
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #555;
}

/* 문제의 제목 및 번호 스타일 */
.qa-title {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

/* 문제 해설 박스 스타일 */
.qa-explanation-box {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.qa-explanation-box p {
  font-size: 1.1rem;
  color: #555;
}

/* 수정 요청 버튼 스타일 */
.edit-request-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit-request-btn:hover {
  background-color: #0056b3;
}

/* 댓글 입력창 스타일 */
.comment-section {
  margin-top: 30px;
}

.comment-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 1rem;
  resize: none; /* 리사이즈 방지 */
  height: 100px;
}

.comment-section button {
  margin-top: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.comment-section button:hover {
  background-color: #0056b3;
}

.comment-list {
  margin-top: 30px;
}

.comment-item {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}

.comment-author {
  font-weight: 600;
}

.comment-content {
  margin: 10px 0;
}

.comment-date {
  font-size: 0.8rem;
  color: #777;
}

.reply-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.reply-btn:hover {
  background-color: #0056b3;
}


