.sidebar {
    position: sticky;
    flex: 0.3;
    background-color: rgb(240, 239, 239);
    padding: 0;
    padding-top: 10px;
	margin: 0;
    width: 100%;
    height: auto;
    overflow: auto;
}

@media (max-width:576px) { /* Small devices (landscape phones, less than or equal to576px) */
    .sidebar {
      width: 100px;
      height: 100%; 
    }
}

@media (min-width:577px) and (max-width:767px) { /* Medium devices (tablets, between577px and767px) */
    .sidebar {
        width: 150px;
        height: 100%; 
    }
}

@media screen and (min-width: 768px) {
	.sidebar {
	    width: 200px;
	    height: 100%;
	}
}

.sidebar-menu {
	margin-bottom: 2rem;
}

.sidebar-list {
	list-style-type:none; 
	padding-left :10px; 
	padding-right :10px; 
}

.sidebar-list-item {
	padding-top :10px; 
	padding-bottom :10px; 
	cursor:pointer;  
	display:flex;  
	align-items:center ;  
	border-radius :5px;
}

.sidebar-list-item-quit {
    margin-top: 300px;
}

.sidebar-list-item.active,
.sidebar-list-item:hover{
	background-color :rgb(212,209,235);   
}