.sidebar {
    flex: 0.3;
    background-color: rgb(240, 239, 239);
    position: sticky;
    top: 100px;
    display: block;
    width: 200px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

@media (max-width :768px) {
    .sidebar {
        top :0 ; /* Change as needed */
        width :100% ; /* Full width on small screens */
        transform :none; /* Show the sidebar by default */
    }
}
#check-btn:checked ~ .sidebar {  transform: translateX(0px)}

#check-btn { display:none; }

#check-label { 
    position: absolute;
    z-index:9999;
}

.sidebar-menu {
    margin-bottom: 2rem;
}

.sidebar-list {
    list-style: none;
    padding: 0.5rem;
}

.sidebar-list-item {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebar-list-item.active,
.sidebar-list-item:hover {
    background-color: rgb(212, 209, 235);
}